In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('train.csv')
df.shape

(404290, 6)

In [3]:
new_df = df.sample(30000)

In [4]:
new_df.isnull().sum()

id              0
qid1            0
qid2            0
question1       0
question2       0
is_duplicate    0
dtype: int64

In [5]:
new_df.dropna(inplace=True)

In [6]:
ques_df = new_df[['question1', 'question2']]
ques_df.head()

,question1,question2
319258,How do people find out about Quora?,How did you came to know about Quora?
372718,What is the difference between tangible and in...,What are the differences of tangible and intan...
221662,"What is the meaning of the key word​ ""cube,"" w...",Why is noncontrolling interest included in a c...
201663,How can one learn something new fast?,How do I learn new skill?
35449,How can I get all Play Store apps for free aft...,How can I download paid app free on Google Pla...

In [7]:
from sklearn.feature_extraction.text import CountVectorizer
questions = list(ques_df['question1'])+list(ques_df['question2'])
cv = CountVectorizer(max_features=3000)
q1_arr, q2_arr = np.vsplit(cv.fit_transform(questions).toarray(), 2)

In [8]:
temp_df1 = pd.DataFrame(q1_arr, index=ques_df.index)
temp_df2 = pd.DataFrame(q2_arr, index=ques_df.index)
temp_df = pd.concat([temp_df1, temp_df2], axis=1)
temp_df.shape

(30000, 6000)

In [9]:
temp_df['is_duplicate'] = new_df['is_duplicate']
temp_df

,0,1,2,3,4,5,6,7,8,9,...,2991,2992,2993,2994,2995,2996,2997,2998,2999,is_duplicate
319258,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
372718,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
221662,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
201663,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
35449,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114385,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
334811,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
200130,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
126177,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
198200,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(temp_df.iloc[:, 0:-1].values, temp_df.iloc[:, -1].values, test_size=0.2, random_state=42)

In [11]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
rf = RandomForestClassifier()
rf.fit(X_train, y_train)
y_pred = rf.predict(X_test)
accuracy_score(y_test, y_pred)

0.7428333333333333